$fsizehead:1.3rem;
$fsizehead2:calc(1rem+ 1vw);
$fsizecon:calc(1rem+ 1vw);
$fsizemini:0.6rem;
$fonthead: 'Henny Penny';
$fontcon: 'Roboto';
$fonthead2 :'Pattaya';
$cw : 20vw;
$purplecolor:#9453a6;
$greencolor:#8cbf3f;
$whitecolor:#f2f2f2;
$blackcolor:#0d0d0d;
$background: linear-gradient(white 10%, #f2cc0f 90%);
$boxshadow: 15px 15px 15px rgba(0, 0, 0, 0.74);